includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - routes
        - database/factories
        - database/seeders
    excludePaths:
        analyse:
            - bootstrap/cache/*
            - database/migrations/*
            - storage/*
            - public/build/*
            - vendor/*
    tmpDir: storage/phpstan
    treatPhpDocTypesAsCertain: true
